<div class="spacer">
</div>
<div class="spacer">
</div>
<div class="viewHeader">
  <span class="viewTitle">List of users on the server</span>
  <div class="tabs right">
    <% if (typeof categories !== "undefined") { %>
      <% for(var i = 0; i < categories.length; i++){ %>
        <a href="/rooms/?category=<%= categories[i] %>" <% if(i===0){ class="active" } %> ><%= categories[i] %></a>
      <% } %>
    <% } %>
  </div>
</div>

<% for (var k in users) { var user = users[k]; %>
    <div class="left" style="width: 180px; max-width: 180px; height: 32px; max-height: 32px; overflow: hidden; padding: 5px;">
        <a href="<%=user.userLink%>" style="color: #800000;">  
          <img src="http://gravatar.com/avatar/<%= user.gravatar_hash %>" title="<%= user.name %>" style="max-width: 32px; max-height: 32px;">
          <%= user.name %> 
        </a> 
    </div>
<% } %>