<div class="spacer">
</div>
<div class="spacer">
</div>
<div class="viewHeader">
  <span class="viewTitle">Rooms</span>
  <div class="tabs right">
    <% if (categories) { %>
    <% for(var i = 0; i < categories.length; i++){ %>
    <a href="/rooms/?category=<%= categories[i] %>" <% if(i===0){ class="active" } %> ><%= categories[i] %></a>
    <% } %>
    <% } %>
  </div>
</div>

  <div class="cards rooms">
<% for (var room in rooms) { %>
            <div class="cardshadow">
              <div class="cardouter">
                <div class="cardinner">
                  <div class="textinner">
                    <div class="starbox"> 
                      <a href="/chat/<%= room.id %>/"><span class="join">join</span></a><span class="star <% if(room.starred===0){ %>starred<% } %>"></span>
                    </div>
                      <a href="/chat/<%= room.id %>/"><span class="cardname"><%=room.name%></span></a><br/>
                      <span class="cardtext"><%= room.description %></span>
                      <div class="histogram" title="This is a pretty good representation of the activity in this room over the course of a 24 hour period. The current time is highlighted by the vertical bar.">
                        histogram goes here
                      </div>
                      <div class="bottomline">
                        <a href="/transcript/<%= room.id %>/"><span class="transcript">transcript</span></a>
                        <a href="/rooms/<%= room.id %>/"><span class="info right">info</span></a>
                      </div>
                  </div>
                  <div class="textnumbers">
                    <p class="number" title="users in the room right now"><%= room.currentUsers %></p>
                    <p class="number" title="users ever in this room"><%= room.maxUsers %></p>
                    <p class="number" title="messages sent in the past 24 hours"><%= room.daysCount %></p>
                    <p class="number" title="total messages sent in this room"><%= room.totalMessages %></p>
                  </div>
                </div>
              </div>
            </div>
<% } %>
  </div>

<script>
  /**
   * this way pagination is consistent across all the pages. Call it as needed. 16 items per page right now
   */
  (function ($,currentItem,totalItems){
    $(function (){
      paginate($,currentItem,totalItems);
    })
  })(window.jQuery,1,10);

  <% if (user) { %>
  (function($,roomspan){
    $(function() {
      var room = $(roomspan)
      room.append( $('<span>').addClass('button').attr('id','addRoom').text('add room') );
      room.append( $('<span>').addClass('button').attr('id','showClosed').text('show closed rooms') );
    });
    
  })(window.jQuery,'.roomspan');

  <% } %>
  
  <% if (user && user.isAdmin) { %>
  (function($,roomspan){
    $(function() {
      var room = $(roomspan)
      room.append( $('<span>').addClass('button').attr('id','showDeleted').text('show deleted rooms') );
    });
  })(window.jQuery,'.roomspan');
  <% } %>
  
  $(function() {
    var button = $("#addRoom");
    button.click(function() {
      $.ajax({
        type: "POST",
        url: "/rooms",
        data: {
          "name": "Test name"
        },
        success: function (data, status, xhr) {
          console.log(data);
          renderRoom(data);
        }
      });      
    });
  });

  function renderRoom(data) {
    var div = $("<div>");
    var a = $("<a>");
    a[0].href = data.roomLink;
    a.text(data.name);
    div.append(a)
    $("#roomsContainer").prepend(div);
  }
  
  
</script>
